body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #2d3436;
  color: #2d3436;
}
header {
  background: #37345A ; /* Deep navy */
  color: #fff;
  padding: 15px 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

.navbar h1 {
  font-size: 26px;
  font-weight: 700;
  color: #dfe6e9; /* Gold highlight */
    margin-left: 2px;
}

.navbar nav a {
  justify-content: center;
  color: #E5E7EB;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
    margin-left: 250px;
}

.navbar nav a:hover {
  color: #FACC15;
}
.hero-r {
  background: linear-gradient(to right, #74b9ff, #81ecec);
  color: #2d3436;
  text-align: center;
  padding: 50px 20px;
}

.hero-r h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 700;
}
.top-books-btn {
  margin-top: 15px;
  background-color: #2d3436;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.top-books-btn:hover {
  background-color: #0984e3;
}
.top-books {
  padding: 80px 20px;
  text-align: center;
  background: #ffffff;
}

.top-books h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.top-books p {
  font-size: 17px;
  margin-bottom: 25px;
  color: #636e72;
}

.alert-message {
  text-align: center;
  color: #B91C1C; /* red tone */
  background-color: #FEE2E2; /* light red background */
  padding: 12px 20px;
  border-radius: 8px;
  width: fit-content;
  margin: 20px auto;
  font-weight: 600;
}

.recommended-book-card {
  background: #fff;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;

  width: 200px;
    margin-top: 80px; }

.recommended-book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.recommended-book-card img {
  width: 90%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}

.recommended-book-card h3 {
  margin-top: 15px;
  font-size: 18px;
  color: #2d3436;
}

.recommended-book-card .author {
  color: #636e72;
  font-size: 15px;
  margin-top: 5px;
}

.recommended-book-card .rating {
  margin-top: 10px;
  font-size: 14px;
  color: #0984e3;
  display: flex;
  justify-content: center;
  gap: 8px;
}

